<section id="about-me">
  <p>
    I’m Nicolas, an academic researcher focused on <strong>computational proteomics, bioinformatics, and cell cycle regulation</strong>. I earned my Bachelor’s and Master’s in Interdisciplinary Sciences at Paris Descartes University.
  </p>

  <p>
    My research combines <strong>quantitative mass spectrometry, computational analysis, and experimental biology</strong> to uncover the dynamics of complex regulatory systems.
  </p>

  <p>
    During my PhD at the <strong>Institut Jacques Monod (Camadro Lab)</strong>, I developed novel quantitative proteomics approaches using in-silico computational methods with in-vivo experimental techniques.
    Today, as a Postdoctoral researcher in Julia Kamenz’s team, I apply these methods to study <strong>cell cycle dynamics using Xenopus eggs</strong>.
  </p>

  <p>
    Outside the lab, I’m a proud Breton with a love for the sea, enjoying activities such as <span id="typed"></span>. Recently, I’ve also taken up skateboarding. Explore more about my research, publications, and projects below.
  </p>
  <p>
    Feel free to reach out via email or using those platforms.
  </p>
  <p>
    Profiles:
    <a href="https://orcid.org/0000-0001-7948-6776">ORCID</a> ·
    <a href="https://scholar.google.com/citations?user=MpVurAEAAAAJ">Google Scholar</a> ·
    <a href="https://github.com/Nohic56">Github</a>
	<a href="https://linkedin.com/in/nicolassenecaut">linkedin</a>
  </p>
</section>
