<section id="phd-research">
  <h2>PhD Research</h2>

  <h3>
    Quantification of proteome variations at the intact protein level
  </h3>

  <p>
    My PhD focused on developing computational and statistical approaches
    for quantitative proteomics using isotope metabolic labeling and
    mass spectrometry.
  </p>

  <p>
    Outputs included multiple first-author publications and open-source
    algorithms for proteomic data analysis.
  </p>

  <p><em>Placeholder for proteomics data figure.</em></p>
</section>
