<header class="site-header">
  <nav class="nav">
    <div class="nav-left">
      <a href="{{ '/' | relative_url }}" class="site-title">Nicolas Sénécaut, PhD</a>
    </div>

    <div class="nav-right">
      <a href="{{ '/research' | relative_url }}">Research</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/methods' | relative_url }}">Methods</a>
      <a href="{{ '/publications' | relative_url }}">Publications</a>
      <a href="{{ '/cv' | relative_url }}">CV</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>
    </div>
  </nav>
</header>
